@model IEnumerable<laba1.Models.Work>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<p>
    <a asp-action="Create"><button class="createButton">Create Task</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkID"><button class="indexRight">Edit</button></a>
                <a asp-action="Details" asp-route-id="@item.WorkID"><button class="indexRight">Details</button></a>
                <a asp-action="Delete" asp-route-id="@item.WorkID"><button class="indexRight">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
